name: CI Pipeline (Build y Test)

# Se ejecuta al hacer push a la rama principal
on:
  push:
    branches: ["main"]

jobs:
  # --- ETAPA 1: BUILD (Compilación) ---
  build-job:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v4

      - name: Configurar Node.js v18
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "npm"

      - name: Instal·lar les dependències
        # Equivalente a 'npm install --progress=false' del Word
        run: npm install --no-progress

      - name: Crear l'executable (Build)
        # Ejecuta 'npm run build' para generar la carpeta 'dist'
        run: npm run build

      # Guardamos el artefacto compilado por si se necesita revisar
      - name: Guardar artefacto (dist)
        uses: actions/upload-artifact@v4
        with:
          name: compilado-dist
          path: dist/
          retention-days: 7

  # --- ETAPA 2: TEST (Pruebas simuladas) ---
  test-job:
    needs: build-job # No empieza hasta que el build termine bien
    runs-on: ubuntu-latest
    steps:
      - name: Executar test simulat
        # Mensaje personalizado según la actividad del documento
        run: echo "Hola Test Executat de JOAN PEDRO"
