name: CI/CD Pipeline Joan i Pedro

on:
  push:
    branches: ["main"]

jobs:
  build-job:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v4

      - name: Configurar Node.js v18
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "npm"

      - name: Instal·lar les dependències
        run: npm install --no-progress

      - name: Crear l'executable (Build)
        run: npm run build

      - name: Guardar artefacto (dist)
        uses: actions/upload-artifact@v4
        with:
          name: compilado-dist
          path: dist
          retention-days: 7

  test-job:
    needs: build-job
    runs-on: ubuntu-latest
    steps:
      - name: Executar test simulat
        run: echo "Hola Test Executat de Joan i Pedro"

  deploy-job:
    needs: test-job
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Descargar el artefacto (dist)
        uses: actions/download-artifact@v4
        with:
          name: compilado-dist
          path: dist

      - name: Configurar SSH y desplegar
        run: |
          sudo apt-get update && sudo apt-get install -y rsync openssh-client
          mkdir -p ~/.ssh
          echo "${{ secrets.KEY_SSH }}" > ~/.ssh/id_dsa
          chmod 600 ~/.ssh/id_dsa
          echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
          rsync -rav --delete dist/ deployer@18.215.166.106:/var/www/001-example.com/html/dist
